<h1>Create new course</h1>

<%= render 'shared/errors', obj: @course %>

<%= form_with(model: @course, local: true) do |f| %>

  <p>
    <%= f.label :course_name %><br/>
    <%= f.text_field :course_name %>
  </p>

  <p>
    <%= f.submit "Create course" %>
  </p>

<% end %>

<p>
  <%= link_to "Cancel and return to course listing page", courses_path %>
</p>